#boev_main-wrapper {
    //background-image: url('/App_Plugins/BackOfficeEditorView/img/spy-icon.svg');
    //background-size: cover;
    display: flex;
    width: 32px;
    height: 32px;
    margin-top: 0;
    &.active {
        svg path {
            fill:red;
        }
    }
}


.boev_userlist {
    gap:20px;
}